<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="io.pivotal.cloudfoundry.log4j">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{ISO8601}] [${cf:space_name}]/[${cf:application_name}]/[${cf:instance_index}] [${cf:instance_id}]/[$${env:CF_INSTANCE_IP}]/[$${env:PORT}]   [[%X{correlationId},%X{requestId}]] [%-5p] [%t] [%c] - [%m\n]"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="all" additivity="false">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>